.App-header {
  background-color: #222;
  height: 50px;
  padding: 30px;
  color: white;
}

.App-title {
  font-size: 40px;
  font-family: fantasy
}

.add-button {
  background-color: #3c3c3c;
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 15px;
  width: 40%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}