.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  font-family: fantasy
}

.add-button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 5px;
  margin: 5px 0 0 0;
  width: 40%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}